# Database Settings
DB_HOST=localhost
DB_NAME=db_name
DB_USER=db_username
DB_PASS=db_password

#Email Settings
SMTP_HOST=smtp.server.com
SMTP_USER=smtp_user
SMTP_PASS=smtp_password
SMTP_PORT=465
MAIL_FROM_NAME="Sender Name"

# Oauth Credentials if you plan to use them, else remove these
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
MAIL_FROM=user@example.com

# Website specific settings
BASE_URL=http://www.example.com
LOGIN_URL=http://login.example.com
FEATURED_POST=featured-post
POSTS_PER_PAGE=5
POPULAR_POST=3
RECENT_POST=5
HOME_POST=blog,technology,web-design

# Define Environment ad development or live
ENVIRONMENT=development
